#!perl --
use utf8;
use strict;
use warnings;

my $dummy_value = {
	
	debug_level => 'debug',
	
	pid_file => 'bot.pid',
	

	slack_connections => [
		{
			name => 'slack1',
			disabled => 0,
			ping_interval => 60,
			api_token => 'your-bot-api-token',
			user_agent => 'tateisu/perl-irc-slack-relay-bot',
			user_list_interval => 300,
		},

		{
			name => 'juggler',
			disabled => 0,
			ping_interval => 60,
			api_token => 'your-bot-api-token',
			user_agent => 'tateisu/perl-irc-slack-relay-bot',
			user_list_interval => 300,
		},
	],

	irc_connections => [
		{
			name => 'irc1',
			ping_interval => 60,

			server	 => 'server.host.name', # サーバ名
			port	 => '6667',# ポート番号,
			nick	 => 'nick_name',
			user_name => 'user_name',
			real_name => 'read_name',

			# 1 for iso-2022-jp, 0 for UTF-8
			is_jis => 1,

			# chanels to join when after connection authoprized.
			auto_join =>[
				'#channel1', '#channel2', # ...
			],

			# auto +o for bot's administrator
			auto_op => [
				qr/\A[^!]+\Q!~tateisu\@card.juggler.jp\E\z/i,
				qr/\A[^!]+\Q!~tateisu\@219.94.142.150\E\z/i,
			],
		},

		{
			name => 'irc2',
			ping_interval => 60,


			server	 => 'server.host.name', # サーバ名
			port	 => '6667',# ポート番号,
			nick	 => 'nick_name',
			user_name => 'user_name',
			real_name => 'read_name',

			# 1 for iso-2022-jp, 0 for UTF-8
			is_jis => 1,

			# chanels to join when after connection authoprized.
			auto_join =>[
				'#channel1', '#channel2', # ...
			],

			# auto +o for bot's administrator
			auto_op => [
				qr/\A[^!]+\Q!~tateisu\@card.juggler.jp\E\z/i,
				qr/\A[^!]+\Q!~tateisu\@219.94.142.150\E\z/i,
			],
		},
	],

	relay_rules => [
		{
			slack_conn => 'slack1',
			slack_channel => '#channel1',

			irc_conn => 'irc1',
			irc_channel => '#channel1',
			
			slack_to_irc => 1,
			irc_to_slack => 1,

			dont_relay_notice =>0,
			disabled=>0,
		},

		{
			slack_conn => 'juggler',
			slack_channel => '#random',
			irc_conn => 'juggler1',
			irc_channel => '#たてSlackぼっと',

			slack_to_irc => 1,
			irc_to_slack => 1,
			dont_relay_notice =>1,
			disabled=>0,
		},
	],
};
