#!perl --
use utf8;
use strict;
use warnings;

my $dummy_value = {

	# debug log. one of debug,verbose,info,warning,error
	debug_level => 'debug',

	# write pid number to specified file
	pid_file => 'bot.pid',

	# Slack bot list
	slack_connections => [
		{
			# Disable this connection. 0(default):not disable, 1:disable
			disabled => 0,

			# Name of this connection
			name => 'slack1',

			# API token of this bot.
			api_token => 'your-bot-api-token',

			# User-Agent HTTP header for using Slack Web API
			user_agent => 'tateisu/perl-irc-slack-relay-bot',

			# Interval (seconds) to send Ping for using Slack RTM API
			ping_interval => 60,

			# Interval (seconds) to get user list
			user_list_interval => 300,
			
			# Dump all incoming messages to log. 0(default):off, 1:on
			dump_all_message => 0,
			
			# Ignore some user. dont relay messages from them
			ignore_user => [qw(
				tateisu-test
			)],
		},

		{
			name => 'slack2',
			api_token => 'your-bot-api-token',
			user_agent => 'tateisu/perl-irc-slack-relay-bot',
			ping_interval => 60,
			user_list_interval => 300,
		},
	],

	# IRC bot list
	irc_connections => [
		{
			# Disable this connection. 0(default):not disable, 1:disable
			disabled => 0,

			# Name of this connection
			name => 'irc1',

			# Host name of IRC server 
			server	 => 'server.host.name', # サーバ名

			# Port number of IRC server 
			port	 => '6667',# ポート番号,

			# Nickname of this bot
			nick	 => 'nick_name',

			# Username of this bot
			user_name => 'user_name',

			# Realname of this bot
			real_name => 'read_name',

			# Character encoding. 0(default):UTF-8, 1:iso-2022-jp
			is_jis => 1,

			# Interval (seconds) to send ping
			ping_interval => 60,

			# Channels to join when after connection authorized.
			# (The channels specified in relay setting is added automatically,no need to re-specify at this.)
			auto_join =>[
				'#tate-test-dummy',
			],

			# Auto +o for bot's administrator
			auto_op => [
				qr/\A[^!]+\!\~tateisu\@\Qcard.juggler.jp\E\z/i,
				qr/\A[^!]+\!\~tateisu\@\Q219.94.142.150\E\z/i,
			],
			
			# Ignore some user. dont relay messages from them
			ignore_user => [
				qr/\A[^\!]+\!\~fate\@\Qio.jupiter.ansi.jp\E\z/i,
				qr/\A[^\!]+\!\~fate\@\Q174.136.108.99\E\z/i,
			],
			
			
			# TX flood protection: max limit to stop sending message.
			flood_protection_penalty_time_max => 512,

			# TX flood protection: base penalty time for PRIVMSG,NOTICE message.
			flood_protection_penalty_time_privmsg => 2,
			
			# TX flood protection: base penalty time for MODE message.
			flood_protection_penalty_time_mode => 4,
			
			# TX flood protection: base penalty time for other message.
			flood_protection_penalty_time_other => 3,
			
			# TX flood protection: additional penalty time. ceil(message_length/this_param) is added.
			flood_protection_penalty_chars_per_second => 16,

		},

		{
			name => 'irc2',
			ping_interval => 60,

			server	 => 'server.host.name', # サーバ名
			port	 => '6667',# ポート番号,
			nick	 => 'nick_name',
			user_name => 'user_name',
			real_name => 'read_name',

			# 1 for iso-2022-jp, 0 for UTF-8
			is_jis => 1,

			# chanels to join when after connection authoprized.
			auto_join =>[
				'#channel1', '#channel2', # ...
			],

			# auto +o for bot's administrator
			auto_op => [
				qr/\A[^!]+\Q!~tateisu\@card.juggler.jp\E\z/i,
				qr/\A[^!]+\Q!~tateisu\@219.94.142.150\E\z/i,
			],
		},
	],

	# Relay rule list
	relay_rules => [
		{
			# Disable this relay. 0(default):not disable, 1:disable
			disabled => 0,

			# Name of slack connection
			slack_conn => 'slack1',

			# Name of slack channel
			slack_channel => '#slack-channel1',

			# Name of IRC connection
			irc_conn => 'irc1',

			# Name of IRC channel
			irc_channel => '#irc-channel1',

			# Enable/Disable relay Slack to IRC. 0(default):off, 1:on
			slack_to_irc => 1,

			# Enable/Disable relay IRC to Slack. 0(default):off, 1:on
			irc_to_slack => 1,

			# Don't relay incoming IRC NOTICE message. 0(default):off, 1:on
			dont_relay_notice =>0,
			
			# use NOTICE for message that outgoing to IRC. 0(default):off, 1:on
			use_notice =>0,
		},

		{
			slack_conn => 'slack2',
			slack_channel => '#slack-channel2',
			irc_conn => 'irc2',
			irc_channel => '#irc-channel2',
			slack_to_irc => 1,
			irc_to_slack => 1,
		},
	],
};
